body{
    background-color:red;
}
#form{
  border-radius: 5px;
  background-color: #da5e16;
  padding: 25px;
  width: 65%;
  margin: 0 auto;
}
input[type=text],input[type=email],input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(172, 94, 4);
  border-radius: 6px;
  box-sizing: border-box;
}
#title, #description{
  text-align: center;
}
#comment {
  width:70%
}
#comment-div{
  margin-top: 22px;
}
